/* =======Variables=========== */
:root {
  --primery-text-color: #230d25;
  --title-color: #571764;
  --white-color: #ffffff;
  --accent: #625ba3;
  --backdrop-color: rgba(44, 24, 63, 0.4);
  --action-btn-color: #ab5cf5;
  --header-bg-color: rgba(207, 204, 207, 1);
  --placeholder-color: #ffffffc2;
}

body {
  background-color: var(--white-color);
  color: var(--primery-text-color);
  font-family: 'Arimo', sans-serif;
}

/*=========UTILITS=============*/
ul,
nav,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
}

.dark-theme {
  background-color: #000011;
  color: var(--white-color);
}

.container {
  width: 1200px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}

/* ============HEADER============= */
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 68px;
  border-bottom: solid 1px var(--accent);
  background-color: var(--header-bg-color);
}

.header-content {
  display: flex;
  align-items: center;
}

.header-text {
  margin-left: 12px;
  line-height: 1.4;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation-item:not(:last-child) {
  margin-right: 28px;
}

.nav-link {
  font-weight: 700;
  color: var(--primery-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
  text-decoration-line: underline;
}
/* ============================ */

/* =========HERO =============*/
.hero {
  padding: 100px 0px;
  margin-bottom: 34px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.3),
      rgba(47, 48, 58, 0.3)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  margin-bottom: 62px;
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
}

.main-title-accent {
  color: #ffffffbd;
  font-size: 68px;
  font-style: italic;
}

.search-input {
  margin-right: 16px;
  padding: 14px 16px;
  width: 440px;
  background-color: transparent;
  font-size: 18px;
  line-height: 1.25;
  border: 2px solid var(--header-bg-color);
  border-radius: 4px;
}

.search-input::placeholder {
  color: var(--placeholder-color);
}

.search-input:focus {
  outline: none;
  border-color: var(--placeholder-color);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button,
.test-button,
.next-btn,
.result-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  background-color: var(--accent);
  color: var(--white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-button:hover,
.search-button:focus,
.test-button:hover,
.test-button:focus,
.next-btn:hover,
.next-btn:focus,
.result-btn:hover,
.result-btn:focus {
  background-color: var(--action-btn-color);
  transform: scale(1.2);
}
/* =========================== */

/*========= SEARCH BY LETTER ============*/
.alphabet-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.alphabet-item {
  margin: 6px;
}

.alphabet-btn {
  width: 60px;
  font-size: 20px;
  padding: 10px 20px;
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;
  background: var(--primery-text-color);
  cursor: pointer;
  border: 2px solid var(--header-bg-color);
  border-radius: 10%;

  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.alphabet-btn:hover,
.alphabet-btn:active,
.alphabet-btn:focus {
  box-shadow: inset 0 0 20px #bfe2ff;
}

.explanation {
  padding: 30px 30px;
  margin-left: auto;
  margin-right: auto;
  max-height: 534px;
  overflow: auto;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 44px;
  margin-bottom: 44px;
  background-color: var(--primery-text-color);
  color: var(--white-color);
}

.searched-term {
  margin-bottom: 30px;
  text-align: center;
}

.word-definition {
  font-size: 20px;
}

.word-list {
  display: flex;
  flex-direction: column;
}

.word-list-item {
  margin-bottom: 8px;
}

.word-list-link {
  font-family: inherit;
  font-size: 20px;
  color: var(--placeholder-color);
}
/* =========================== */

/*============JOKES======== */
.jokes {
  margin-bottom: 64px;
}

.jokes-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 26px;
}

.jokes-text {
  text-align: center;
  font-size: 22px;
  font-style: italic;
  margin-bottom: 16px;
}

.jokes-text--accent,
.test-title--accent {
  text-transform: uppercase;
  font-weight: 700;
}

.jokes-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-right: -20px;
  margin-bottom: -20px;
}

.jokes-item {
  margin-right: 20px;
  margin-bottom: 20px;
  flex-basis: calc(100% - 40px) / 2;
}

/* ========================== */

.test {
  padding: 100px 20px;
  margin-bottom: 44px;
  border: 2px solid var(--primery-text-color);
  border-radius: 80px;
  background-image: linear-gradient(
    to bottom,
    var(--primery-text-color),
    var(--white-color)
  );
}

.test-button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 54px;
}

.test-title {
  text-align: center;
  font-size: 36px;
  animation: changecolor 5s infinite alternate;
}

@keyframes changecolor {
  0% {
    color: #ccc8c8;
  }
  25% {
    color: #dbaeae;
  }
  50% {
    color: #773e3e;
  }
  75% {
    color: #470c0c;
  }
  100% {
    color: #200707;
  }
}

/* ===========MODAL WINDOW========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
  background-color: var(--backdrop-color);
  transition: opacity 250ms linear, visibility 250ms linear,
    transform 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 46px;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background-color: var(--white-color);
  border-radius: 20px;
}

.is-open {
  opacity: 1;
  pointer-events: initial;
}

.modal-close-btn {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  color: var(--primery-text-color);
  border: 1px solid var(--header-bg-color);
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../images/window_close_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--header-bg-color);
}

/*======Cлайдер для тестів===========*/
.quiz {
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.current-question {
  opacity: 1;
}

.next-btn {
  position: absolute;
  bottom: 10%;
  left: 26%;
}

.result-btn {
  position: absolute;
  bottom: 10%;
  right: 26%;
}

/* ====================== */

footer {
  width: 100%;
  padding-top: 34px;
  padding-bottom: 34px;
  border-bottom: solid 1px var(--placeholder-color);
  background-color: var(--header-bg-color);
}
