/* =======Variables=========== */
:root {
  --primery-text-color: #230d25;
  --title-color: #571764;
  --white-color: #ffffff;
  --accent: #625ba3;
  --backdrop-color: rgba(44, 24, 63, 0.4);
  --action-btn-color: #ab5cf5;
  --header-bg-color: rgba(207, 204, 207, 1);
  --placeholder-color: #ffffffc2;
  --disabled-color: rgb(86, 85, 88);
}

body {
  background-color: var(--white-color);
  color: var(--primery-text-color);
  font-family: 'Arimo', sans-serif;
}

/*=========UTILITS=============*/
ul,
nav,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
}

.dark-theme {
  background-color: #000011;
  color: var(--white-color);
}

@media screen and (max-width: 424px) {
  .container {
    max-width: 424px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 425px) {
  .container {
    min-width: 425px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* ============HEADER============= */
header {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: auto;
  border-bottom: solid 1px var(--accent);
  background-color: var(--header-bg-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  -webkit-animation: pulsing 1500ms infinite;
  animation: pulsing 1500ms infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

.header-text {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-text {
    display: block;
    margin-left: 12px;
    line-height: 1.4;
  }
}

.navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.navigation-item:not(:last-child) {
  margin-right: 28px;
}

.nav-link {
  font-weight: 700;
  color: var(--primery-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
  text-decoration-line: underline;
}

.burger-menu-btn {
  width: 40px;
  height: 40px;
  background-image: url(../images/menu_hamburger_burger_icon_176431.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .burger-menu-btn {
    display: none;
  }
}
/* ============================ */

/* =========HERO =============*/
.hero {
  margin-bottom: 16px;
  padding: 30px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.3),
      rgba(47, 48, 58, 0.3)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 100px 0px;
    margin-bottom: 34px;
  }
}

.main-title {
  margin-bottom: 30px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .main-title {
    margin-bottom: 62px;
    font-size: 42px;
  }
}

.main-title-accent {
  font-size: 52px;
  color: #ffffffbd;
  font-style: italic;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

@media screen and (min-width: 1200px) {
  .main-title-accent {
    font-size: 68px;
  }
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .search {
    flex-direction: column;
  }
}

.search-input {
  margin-right: auto;
  margin-bottom: 10px;
  padding: 14px 16px;
  width: 360px;
  background-color: transparent;
  font-size: 18px;
  line-height: 1.25;
  border: 2px solid var(--header-bg-color);
  border-radius: 4px;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .search-input {
    width: 310px;
  }
}

@media screen and (max-width: 1199px) {
  .search-input {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .search-input {
    margin-right: 16px;
    width: 440px;
  }
}

.search-input::placeholder {
  color: var(--placeholder-color);
}

.search-input:focus {
  outline: none;
  border-color: var(--placeholder-color);
}

.search-button,
.test-button,
.next-btn,
.result-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  background-color: var(--accent);
  color: var(--white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-button:hover,
.search-button:focus,
.test-button:hover,
.test-button:focus {
  background-color: var(--action-btn-color);
  transform: scale(1.2);
}

.next-btn:hover,
.next-btn:focus,
.result-btn:hover,
.result-btn:focus {
  background-color: var(--action-btn-color);
}

.disabled:disabled {
  background-color: var(--disabled-color);
  transition: none;
}
/* =========================== */

/*========= SEARCH BY LETTER ============*/
.alphabet-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.alphabet-item {
  margin: 6px;
}

.alphabet-btn {
  width: 60px;
  font-size: 20px;
  padding: 10px 20px;
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  font-family: inherit;
  background: var(--primery-text-color);
  cursor: pointer;
  border: 2px solid var(--header-bg-color);
  border-radius: 10%;

  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 575px) {
  .alphabet-btn {
    width: 30px;
    font-size: 14px;
    padding: 5px 0px;
  }
}

.alphabet-btn:hover,
.alphabet-btn:active,
.alphabet-btn:focus {
  box-shadow: inset 0 0 20px #bfe2ff;
}

.image-container {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .image-container {
    display: block;
  }
}

.explanation {
  padding: 30px 30px;
  margin-left: auto;
  margin-right: auto;
  max-height: 534px;
  overflow: auto;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  background-color: var(--primery-text-color);
  color: var(--white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .details {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .details {
    margin-top: 44px;
  }
}

.searched-term {
  margin-bottom: 30px;
  text-align: center;
}

.word-definition {
  font-size: 20px;
  line-height: 1.4;
}

.word-list {
  display: flex;
  flex-direction: column;
}

.word-list-item {
  margin-bottom: 8px;
}

.word-list-link {
  font-family: inherit;
  font-size: 20px;
  color: var(--placeholder-color);
}
/* =========================== */

/*============JOKES======== */
.jokes {
  margin-bottom: 40px;
  padding-top: 44px;
  background-image: url(../images/snow-fone-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .jokes {
    margin-bottom: 64px;
  }
}

.jokes-title {
  margin-bottom: 12px;
  text-align: center;
  font-size: 26px;
}

@media screen and (min-width: 1200px) {
  .jokes-title {
    font-size: 36px;
    margin-bottom: 26px;
  }
}

.jokes-text {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: italic;
}

@media screen and (min-width: 1200px) {
  .jokes-text {
    font-size: 22px;
    margin-bottom: 16px;
  }
}

.jokes-text--accent,
.test-title--accent {
  text-transform: uppercase;
  font-weight: 700;
}

.jokes-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .jokes-list {
    margin-right: -20px;
    margin-bottom: -20px;
  }
}

.jokes-item {
  margin-bottom: 20px;
}

@media screen and (max-width: 849px) {
  .jokes-item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .jokes-item {
    margin-right: 20px;
    flex-basis: calc(100% - 40px) / 2;
  }
}

/* ========================== */

.test {
  padding: 50px 10px;
  margin-bottom: 20px;
  border: 2px solid var(--primery-text-color);
  border-radius: 80px;
  background-image: linear-gradient(
    to bottom,
    var(--primery-text-color),
    var(--white-color)
  );
}

@media screen and (min-width: 768px) {
  .test {
    padding: 100px 20px;
    margin-bottom: 44px;
  }
}

.test-button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
}

@media screen and (min-width: 768px) {
  .test-button {
    margin-top: 54px;
  }
}

.test-title {
  text-align: center;
  font-size: 24px;
  animation: changecolor 5s infinite alternate;
}

@media screen and (min-width: 768px) {
  .test-title {
    font-size: 36px;
  }
}

@keyframes changecolor {
  0% {
    color: #ccc8c8;
  }
  25% {
    color: #dbaeae;
  }
  50% {
    color: #773e3e;
  }
  75% {
    color: #470c0c;
  }
  100% {
    color: #200707;
  }
}

/* ===========MODAL WINDOW========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: scale(1);
  background-color: var(--backdrop-color);
  transition: opacity 250ms linear, visibility 250ms linear,
    transform 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 26px;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  background-color: var(--white-color);
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 46px;
    width: 600px;
    height: 600px;
  }
}

.is-open {
  opacity: 1;
  pointer-events: initial;
}

.modal-close-btn {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  color: var(--primery-text-color);
  border: 1px solid var(--header-bg-color);
  border-radius: 50%;
  cursor: pointer;
  background-image: url(../images/window_close_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--header-bg-color);
}

/*======Cлайдер для тестів===========*/
.quiz {
  position: relative;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  font-size: 17px;
}

@media screen and (min-width: 425px) {
  .slider {
    font-size: 20px;
  }
}

.current-question {
  display: block;
  color: var(--primery-text-color);
}

.quiz-number {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

@media screen and (min-width: 425px) {
  .quiz-number {
    font-size: 30px;
  }
}

.question {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (min-width: 425px) {
  .question {
    font-size: 24px;
  }
}

.answer {
  display: flex;
  justify-content: start;
  align-items: center;
}
.answer input {
  margin-right: 8px;
}

.answer:not(:last-child) {
  margin-bottom: 12px;
}

.correctAnswer {
  color: green;
}

.falseAnswer {
  color: red;
}

.next-btn {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%);
}

.result-btn {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  .next-btn {
    bottom: 10%;
    left: 26%;
  }

  .result-btn {
    bottom: 10%;
    right: 26%;
  }
}

.result {
  display: block;
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: var(--primery-text-color);
}

/* ====================== */

footer {
  width: 100%;
  padding: 12px 0;
  font-size: 12px;
  border-bottom: solid 1px var(--placeholder-color);
  background-color: var(--header-bg-color);
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .mobile-container {
    padding: 0 10px;
  }
}

.contact {
  margin-top: 8px;
}

.contact-link {
  color: var(--accent);
}

.contact-text {
  display: inline-block;
}
